<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.cloud.demo.modules.ims.mapper.ImsEventMapper">

    <!-- 通用查詢mapping结果 -->
    <resultMap id="BaseResultMap" type="my.cloud.demo.modules.ims.model.ImsEvent">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="org_sn" property="orgSn" />
        <result column="org_name" property="orgName" />
        <result column="device_sn" property="deviceSn" />
        <result column="device_name" property="deviceName" />
        <result column="device_type" property="deviceType" />
        <result column="event_id" property="eventId" />
        <result column="event_type" property="eventType" />
        <result column="main_temp" property="mainTemp" />
        <result column="additional_temp" property="additionalTemp" />
        <result column="product" property="eventType" />
        <result column="expiry_time" property="expiryTime" />
        <result column="event_time" property="eventTime" />

    </resultMap>

</mapper>
