<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.cloud.demo.modules.ims.mapper.ImsInventoryMapper">

    <!-- 通用查詢mapping结果 -->
    <resultMap id="BaseResultMap" type="my.cloud.demo.modules.ims.model.ImsInventory">
        <id column="id" property="id" />
        <result column="sale_id" property="saleId" />
        <result column="org_id" property="orgId" />
        <result column="org_sn" property="orgSn" />
        <result column="org_name" property="orgName" />
        <result column="device_sn" property="deviceSn" />
        <result column="device_name" property="deviceName" />
        <result column="device_type" property="deviceType" />

        <result column="product" property="product" />
        <result column="cargo" property="cargo" />
        <result column="container" property="container" />
        <result column="full" property="full" />
        <result column="sales" property="sales" />
        <result column="inventory" property="inventory" />
        <result column="expiry_time" property="expiryTime" />
        <result column="create_time" property="createTime" />

    </resultMap>

</mapper>
